doctype html
html
  head
    link(rel='stylesheet',href='style.css')
    script(src='../../lib/TabStrip.js')
  body
    .tabs-container
    .panes
      div.pane-1.active
        h1 Pane 1

        p This is a demo of the <a href="http://bitbucket.org/sparklinlabs/tab-strip">tab-strip package</a>.
      div.pane-2
        h1 Pane 2
      div.pane-3
        h1 Pane 3
    script.
      var tabStrip = new TabStrip(document.querySelector(".tabs-container"));

      var panes = document.querySelectorAll(".panes > div");
      for (var i = 0; i < panes.length; i++) {
        var pane = panes[i];

        var tab = document.createElement("li");
        tab.dataset.pane = "pane-" + (i+1);

        var tabLabel = document.createElement("span");
        tabLabel.classList.add("label");
        tabLabel.textContent = "Pane " + (i+1);
        tab.appendChild(tabLabel);

        tabStrip.tabsRoot.appendChild(tab);

        if (i === 0) {
          tab.classList.add("active");
          document.querySelector(".panes ." + tab.dataset.pane).classList.add("active");
        }
      }

      tabStrip.on("activateTab", function(tab) {
        tabStrip.tabsRoot.querySelector(".active").classList.remove("active");
        tab.classList.add("active");

        document.querySelector(".panes > .active").classList.remove("active");
        document.querySelector(".panes ." + tab.dataset.pane).classList.add("active");
      });
